body {
    /* margin: 0 0 0 0; */
    font-family: 'Itim';
    /* background-image: url('/calc/www/img/mathbg1.png'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-color: rgba(245, 245, 245, 0.884);
}

.cal {
    background-color: rgb(0, 0, 0);
    /* margin: 0% 3% 5% auto; */
    /* width: max-content; */
    width: fit-content;
    border-radius: 10px;
}

button {
    width: 100%;
    height: 100%;
    /* font-size: 25px; */
    font-size: 35px;
    background-color: rgba(54, 57, 58, 0.921);
    /* background-color: rgba(37, 148, 221, 0.692);  */
    border: 0.5px solid rgb(66, 66, 66) ;   
    border-radius: 5px;
    font-family: 'Itim';
    color: aliceblue;
}
            
table {
    width: 100%;
    height: 100%;
    padding: 2%;
    font-family:serif;
    table-layout: fixed;
    margin: 0% 3% 5% auto;
    border-collapse: separate;
    border-spacing: 8px 8px;
}

td {
    height: 65px;
    font-size: 35px;
    color: aliceblue;
    font-family: serif;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.op {
    font-size: 35px;
    background-color:rgba(78, 77, 74, 0.685);
    background-color: rgba(255, 255, 255, 0.774);
    font-family:serif;
    font-family: 'Itim';
    color: black;
}

#display{
    background-color:rgba(124, 123, 119, 0.685);
    padding-left: 5px;
    font-family: 'Itim';
    border-radius: 5px;
    /* word-wrap: break-word; */
    border: 1px solid black;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    max-width: 12ch;
    height: 70px;
}

#ac, #del {
    color: black;
    background-color: rgba(255, 0, 0, 0.8);
    border: black;
    font-size: 35px;
}
